body{
    color: black;
    background-color: white;
}

#img-perfil {
    width:  100px;
    height: 100px;
}

.container-informations{
    min-height: 60vh;
}

#info-header{
    color: grey;
}


footer{
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        }
