{% extends 'users/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock head %}

{% block content %} 
<div class="container container-informations mt-5">
    <article class="row">
        <div class="col-4 d-flex flex-column  align-items-center">
            <span class="img-perfil ">Perfil</span>
            {% if user_info.perfil_photo %}
                <img class="img-thumbnail rounded-circle" id="img-perfil" src="{{user_info.perfil_photo.url}}" alt="perfil photo" >
            {% else %}
                <img class="img-thumbnail rounded-circle" id="img-perfil" src="{% static 'imgs/sem-imagem-avatar.png' %}" alt="perfil photo" >
            {% endif%}
        </div>
        <div class="col-8 personal-informations">
            <div class="row">
                <div class="border-bottom border-top">
                    <p id="info-header">Name: {{user_info.username}} </p>
                </div>
                <div class="border-bottom">
                    <p id="info-header">ID: {{user_info.id}}</p>
                </div>
                <div class="border-bottom">
                    <p id="info-header">Data de nascimento: {{user_info.birth_date}}</p>
                </div>
                <div class="border-bottom">
                    <p id="info-header">País ou região: {{user_info.location}}</p>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock content %}
    
</body>
</html>